body{
    padding: 0px;
    margin: 0px;
}

header {
    color: rgb(255, 255, 255);
    background-color:orangered;
    border-bottom: 2px;
    border-color: orangered ;
    padding: 20px 10px;
    overflow: hidden;
}

#logo-site{
    height: 100px;
    width: 100px;
}

#premier_bandeau{
    list-style-type: none;

}
#second_bandeau{
    list-style-type: none;
}


main {
    height: 90vh;
    background-image: url("../media/img/index-background-computer.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;
    text-align: center;
}

#text-presentation {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    width: 40%;
    margin-top: 20vh;
}

footer {
    color: rgb(255, 255, 255);
    background-color:orangered;
    height: auto;
    border-bottom: 2px;
    border-color: white;
    padding: 20px 10px;
    overflow: hidden;
    text-align: center;
}

img{
    height: 30px;
    width: 30px;
}