header {
    color: rgb(255, 255, 255);
    background-color:orangered;
    border-bottom: 2px;
    border-color: orangered ;
    padding: 20px 10px;
    overflow: hidden;
}

#logo-site{
    height: 100px;
    width: 100px;
}

h1 {
    padding-left: 20px;
}

#premier_bandeau{
    list-style-type: none;

}
#second_bandeau{
    list-style-type: none;
}


main {
    height: 110vh;
    width: 100vw;
    background-image: url("../media/img/food.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 130%;
    filter: blur(4px);
}

footer {
    color: rgb(255, 255, 255);
    background-color:orangered;
    height: auto;
    border-bottom: 2px;
    border-color: white;
    padding: 20px 10px;
    overflow: hidden;
    text-align: center;
}

img{
    height: 30px;
    width: 30px;
}



body{
    padding: 0px;
    margin: 0px;
}