header {
    color: rgb(255, 255, 255);
    background-color:orangered;
    border-bottom: 2px;
    border-color: orangered ;
    padding: 20px 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
}

#logo-site{
    height: 10vh;
    width: 22vw;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#right_header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}





main {
    height: 90vh;
    width: 100vw;
    background-image: url("../media/img/index-background-computer.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

footer {
    color: rgb(255, 255, 255);
    background-color:orangered;
    height: auto;
    border-bottom: 2px;
    border-color: white;
    padding: 20px 10px;
    overflow: hidden;
    text-align: center;
}

img{
    height: 30px;
    width: 30px;
}

.header_image {
    margin-left: 20px;
    margin-right: 5px;
}

body{
    padding: 0px;
    margin: 0px;
}